{{ block "photo-form" . }}
<article>
    <form action="/photos" method="POST" enctype="multipart/form-data" hx-encoding='multipart/form-data'
        _="on htmx:xhr:progress(loaded, total) set #progress.value to (loaded/total)*100">
        <legend>Upload your photos here</legend>
        <fieldset>
            <label for="photo">Select at least one photo to upload</label>
            <input type="file" name="photo" multiple required>
        </fieldset>
        {{ with .Data.Errors }}
        {{ range . }}
        <span style="color: red;">{{ . }}</span>
        {{ end }}
        {{ end }}
        <button type="submit">submit</button>
        <progress id="progress" value="0" max="100"></progress>
    </form>
</article>
{{ end }}
